<h1>New</h1>
<%= form_with(model: @sale, local:true) do |f| %>
	<div class="field">
		<%= f.label :cod, "Codigo" %>
		<%= f.number_field :cod %>
	</div>

	<div class="field">
		<%= f.label :detail, "Detalle de la venta" %>
		<%= f.text_area :detail %>
	</div>

	<div class="field">
		<%= f.label :category, "Categoría" %>
		<%= f.text_field :category %>
	</div>

	<div class="field">
		<%= f.label :value, "Valor" %>
		<%= f.number_field :value %>	
	</div>

	<div class="field">
		<%= f.label :discount, "Descuento" %>
		<%= f.number_field :discount %>
	</div>

	<div class="field">
		<%= f.label :tax, "Exento de Iva" %>
		<%= f.check_box :tax %>	
	</div>

  <div class="field">
		<%= f.submit %>
	</div>
<% end %>